@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 16, 40, 16; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: #102810; 
  overflow-x: hidden;
}

@layer base {
  ::-webkit-scrollbar-track {
    background: #102810; 
  }

}
  ::-webkit-scrollbar-thumb {
    background: #222222; /* Subtle dark handle */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #D6D4A1; /* Highlights in your theme gold color */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #222222 #000000;
  }


/* Custom class for the biography scroll areas */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #222222 #000000;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
}